<!DOCTYPE html>
<html lang="it">

<head>
    <%- include("head") %>

        <style>
            .product {
                max-height: 600px;
            }

            .product-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid #ddd;
                border-radius: 5px;
            }

            .product-container .btn {
                margin-top: auto;
                margin-bottom: 10px;
            }

            .product-title {
                margin-top: 2rem;
            }

            .product-content {
                flex-grow: 1;
            }
        </style>
</head>

<body class="gradient-custom d-flex flex-column min-vh-100">
    <%- include("header", { authenticated, title, coach, servizi }) %>
        <div class="container flex-grow-1 d-flex flex-column justify-content-center text-center">
            <h4 class="page-title text-center mt-4">Benvenuto coach, quale servizio vuoi offrire oggi?</h4>
            <div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-2">
                <% servizi.forEach(servizio=> { %>
                    <div class="col">
                        <div class="product-container">
                            <div class="product-content">
                                <div class="product"></div>
                                <div class="my-3">
                                    <h4 class="product-title">
                                        <%= servizio.nome %>
                                    </h4>
                                    <p>
                                        <%= servizio.descrizione %>
                                    </p>
                                    <img src="<%= servizio.immagine %>" class="img-fluid" alt="Errore immagine">
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-auto">
                                <form action="/elimina_servizio" method="post">
                                    <input type="hidden" name="nome" value="<%= servizio.nome %>">
                                    <button class="btn btn-warning me-2">Elimina questo servizio</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <form action="/offri_servizio" method="POST">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome Servizio</label>
                            <input type="text" class="form-control" id="nome" name="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="descrizione" class="form-label">Descrizione</label>
                            <textarea class="form-control" id="descrizione" name="descrizione" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="immagine" class="form-label">Immagine URL</label>
                            <input type="text" class="form-control" id="immagine" name="immagine" required>
                        </div>
                        <button type="submit" class="btn btn-warning mb-4">Offri Servizio</button>
                    </form>
                </div>
                <div class="col">
                    <form action="/modifica" method="POST">
                        <div class="mb-3">
                            <label for="nome_modifica" class="form-label">Nome Servizio da Modificare</label>
                            <input type="text" class="form-control" id="nome_modifica" name="nome_modifica" required>
                        </div>
                        <div class="mb-3">
                            <label for="nuova_descrizione" class="form-label">Nuova Descrizione</label>
                            <textarea class="form-control" id="nuova_descrizione" name="nuova_descrizione" rows="3" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="nuova_immagine" class="form-label">Nuova Immagine URL</label>
                            <input type="text" class="form-control" id="nuova_immagine" name="nuova_immagine" required>
                        </div>
                        <button type="submit" class="btn btn-warning mb-4">Modifica Servizio</button>
                    </form>
                </div>
            </div>
        </div>
        <%- include("footer") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
            <script src="js/servizio.js"></script>
</body>

</html>
